<!DOCTYPE html>
<html>
    <head >
        <title> {% block title %}NOPLP{% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body >
        <nav class ="navbar navbar-expand-lg navbar-dark bd-dark">
            <!-- <button class="navbar-toggler" type="button" data-toggle ="collapse" data-target="#navbar">
                <span class = "navbar-toggler-icon"></span>
            </button> -->
            <div class ="collapse navbar-collapse" id ="navbar">
                <div class ="navbar-nav">
                    <a class="nav-item nav-link" id="score" href="/score">Score</a>
                    <a class="nav-item nav-link" id="équipes" href="/equipes">Equipes</a>
                    <!-- <a class="nav-item nav-link" id="sign-up" href="/sign-up">sign-up</a>
                    <a class="nav-item nav-link" id="home" href="/home">home</a> -->
                </div>
            </div>
        </nav>
        
        <br></br>
        <div>
            <h1 class="h1-base">N'oubliez pas ال lyrics</h1>
            <br>
            <p>Choisir un thème</p>
            <br>
            <br>
            <div class="button-1-container">
                <div>
                  <button class="button-1" onclick="window.location.href='/six_s'">60'S</button>
                </div>
                <div>
                  <button class="button-1" onclick="window.location.href='/seven_s'">70'S</button>
                </div>
                <div>
                  <button class="button-1" onclick="window.location.href='/eight_s'">80'S</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/nine_s'">90'S</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/francais_eight_s'">Francais 80'S</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/francais_2000'">Francais 2000</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/francais_nouveau'">Francais Nouveau</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/the_beattles'">The Beattles</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/francis_cabrel'">Francis Cabrel</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/arabe'">Arabe</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/rihanna'">Rihanna</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/beyonce'">Beyonce</button>
                </div>
            </div>
            
            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/cat_stevens'">Cat Stevens</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/jacques_brel'">Jacques Brel</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/taylor_swift'">Taylor Swift</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/michael_jakson'">Michael Jakson</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/santana'">Santana</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/ed_sheeran'">Ed Sheeran</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/onerepublic'">OneRepublic</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/pop'">POP</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/love'">Love</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/aznavour'">Aznavour</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/claude_francois'">Claude François</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/tom_jones'">Tom Jones</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/lebnan'">Lebnan</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/break_up'">Break Up</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/backstreet_boys'">Backstreet Boys</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/royalty'">Royalty</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/abba'">ABBA</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/l_yourself'">L Yourself</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/country'">Country</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/enfance'">Enfance</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/madonna'">Madonna</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/hell'">Hell</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/cheating'">Cheating</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/nostalgie'">Nostalgie</button>
                </div>
            </div>

            <div class="button-1-container">
                <div>
                    <button class="button-1" onclick="window.location.href='/rose'">Rose</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/mad_future'">Mad Future</button>
                </div>
                <div>
                    <button class="button-1" onclick="window.location.href='/paradis'">Paradis</button>
                </div>
            </div>

            <script>
                type = "text/javascript"
                src ="{{ url_for('static', filename='index.js') }}"
            </script>
        </div>
    </body>
</html>